<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
</head>
<body>
<div>
	<label for='audioSource'>Audio source: </label><select id='audioSource'></select>
	<label for='videoSource'>Video source: </label><select id='videoSource'></select>
	<video id="me" width="160" height="120" autoplay="true"></video>
	<video id="you" width="160" height="120" autoplay="true"></video>
</div>

<script type="text/javascript">
	var videoElement = document.querySelector("video#me");
	var audioSelect = document.querySelector("select#audioSource");
	var videoSelect = document.querySelector("select#videoSource");
	var startButton = document.querySelector("button#start");

	navigator.getUserMedia = navigator.getUserMedia ||
			navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

	function gotSources(sourceInfos) {
		for (var i = 0; i != sourceInfos.length; ++i) {
			var sourceInfo = sourceInfos[i];
			var option = document.createElement("option");
			option.value = sourceInfo.id;
			if (sourceInfo.kind === 'audio') {
				option.text = sourceInfo.label || 'microphone ' + (audioSelect.length + 1);
				audioSelect.appendChild(option);
			} else if (sourceInfo.kind === 'video') {
				option.text = sourceInfo.label || 'camera ' + (videoSelect.length + 1);
				videoSelect.appendChild(option);
			} else {
				console.log('Some other kind of source: ', sourceInfo);
			}
		}
	}

	if (typeof MediaStreamTrack === 'undefined') {
		alert('This browser does not support MediaStreamTrack.\n\nTry Chrome Canary.');
	} else {
		MediaStreamTrack.getSources(gotSources);
	}


	function successCallback(stream) {
		window.stream = stream; // make stream available to console
		videoElement.src = window.URL.createObjectURL(stream);
		videoElement.play();
	}

	function errorCallback(error) {
		console.log("navigator.getUserMedia error: ", error);
	}

	function start() {
		if (!!window.stream) {
			videoElement.src = null;
			window.stream.stop();
		}
		var audioSource = audioSelect.value;
		var videoSource = videoSelect.value;
		var constraints = {
			audio: {
				optional: [{ sourceId: audioSource }]
			},
			video: {
				optional: [{ sourceId: videoSource }]
			}
		};
		navigator.getUserMedia(constraints, successCallback, errorCallback);
	}

	audioSelect.onchange = start;
	videoSelect.onchange = start;

	start();
</script>
</body>
</html>